{{#unless iframe}}

<table class="layout-table">
  <tr>
    <td>
      <table class="layout-table">
        <tr><td class="icon-td"><i class="fa fa-hashtag"></i></td><td>{{model.id}}</td></tr>
        <tr><td class="icon-td"><i class="fa fa-user"></i></td><td>{{#link-to "beams.by-user" model.initiator.id}}{{model.initiator.display_name}}{{/link-to}}</td></tr>
        <tr><td class="icon-td"><i class="fa fa-desktop" alt="user"></i></td><td>{{model.host}}</td></tr>
        <tr>
          <td class="icon-td"><i class="fa fa-clock-o"></i></td>
          <td><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{format-date model.start}}">{{model.relative_time}}</a></td></tr>
        <tr><td class="icon-td"><i class="fa fa-database"></i></td><td>{{capacity-display model.size}}</td></tr>
        <tr>
          <td class="icon-td"><i class="fa fa-thumb-tack"></i></td>
          {{#if model.has_pinners}}
          <td><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{model.pinners}}">{{model.num_of_pins}} users</a></td>
          {{else}}
          <td>Nobody</td>
          {{/if}}
        </tr>
        {{#if model.type}}
            <tr><td class="icon-td"><i class="fa fa-info-circle"></i></td><td>{{model.type}}</td></tr>
        {{/if}}
     </table>
    </td>
    <td style="text-align: right">
      {{#link-to "beam" model}}
      <a>
        <img src="{{model.img}}" class="responsive-img">
      </a>
      {{/link-to}}
    </td>
  </tr>
</table>
{{#if extended}}
<table class="layout-table">
  <tr><td class="icon-td"><i class="fa fa-folder"></i></td><td>{{model.directory}}</td></tr>
</table>
{{/if}}
{{#if model.deleted}}
  <br/><p style='font-style: italic'>Deleted.</p>
{{else}}
  {{#if model.should_display_purge_str}}
    <br/><p style='font-style: italic'>Will be deleted {{model.purge_str}}.</p>
  {{/if}}
{{/if}}
{{#if session.isAuthenticated}}
  {{#unless model.deleted}}
    <br/><p><a {{action "pin" pinned}} class="pin-btn"><i class="fa fa-thumb-tack"></i>&nbsp;{{#if pinned}}Unpin{{else}}Pin{{/if}}</a></p>
  {{/unless}}
{{/if}}

{{#if extended}}
  {{#if model.error_message}}
  <br/><p class="red-text text-darken-2">{{newlines-text model.error_message}}</p>
  {{/if}}

  {{#if model.tags}}
      <br/>
      <h4>Tags</h4>
      <ul>
          {{#each model.tags as |tag|}}
              <li>{{#link-to "tag" tag}}{{tag}}{{/link-to}}</li>
          {{/each}}
      </ul>
  {{/if}}

  {{#if model.files.length}}
    <h4>Files</h4>
    <center>
        <i class="fa fa-search"></i>&nbsp;{{input id="file_filter" type="text" class="filter-box" value=file_filter}}
        &nbsp;<i {{action "clean"}} class="fa fa-times"></i>
    </center>
    <table class="layout-table">
    {{#if display_pagination}}
    <tr><td>
      <ul class="pagination">
      {{#each pages as |page|}}
        {{#link-to "beam" model (query-params page=page) tagName="li" class="waves-effect"}}{{page}}{{/link-to}}
      {{/each}}
      </ul>
    </td></tr>
    {{/if}}
    <tr><td>
    <table class="highlight">
        <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Modification Time</th>
            </tr>
        </thead>
        <tbody>
        {{#each sliced_files as |file|}}
            {{#if file.file_name}}
            <tr>
                <td>
                    {{#if model.deleted}}{{file.file_name}}{{else}}<a class="collection-item file-link" target="_blank" href={{file.url}}>{{file.file_name}}</a>{{/if}}
                </td>
                <td>{{capacity-display file.size}}</td>
                <td>{{format-date file.mtime}}</td>
            </tr>
            {{/if}}
        {{/each}}
        </tbody>
    </table>
    </td></tr>
    </table>
  {{else}}
    <br/><p>No files were beamed yet.</p>
  {{/if}}
  <br/>
  To download all files:
  <pre>
      $ pip install -U scottypy
      $ scotty down {{model.id}}
  </pre>
{{/if}}

{{else}}

{{#if back}}
<button class="btn" {{action "back"}}>&lt; Back</button><br/><br/>
{{/if}}
<table class="layout-table">
  <tr>
    <td style="width: 10%; vertical-align: top">
      {{#link-to "beam" this.model.id (query-params view="" back="") target="_blank"}}<img style="height: 64px" src="/static/assets/img/scotty.png">&nbsp;View in Scotty{{/link-to}}<br/><br/>
      <table class="layout-table">
        <tr><td class="icon-td"><i class="fa fa-hashtag"></i></td><td>{{model.id}}</td></tr>
        <tr><td class="icon-td"><i class="fa fa-user"></i></td><td>{{this.model.initiator.display_name}}</td></tr>
        <tr><td class="icon-td"><i class="fa fa-desktop" alt="user"></i></td><td>{{this.model.host}}</td></tr>
        <tr>
          <td class="icon-td"><i class="fa fa-clock-o"></i></td>
          <td><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{format-date this.model.start}}">{{this.model.relative_time}}</a></td></tr>
        <tr><td class="icon-td"><i class="fa fa-database"></i></td><td>{{capacity-display this.model.size}}</td></tr>
        <tr>
          <td class="icon-td"><i class="fa fa-thumb-tack"></i></td>
          {{#if model.has_pinners}}
          <td><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{model.pinners}}">{{model.num_of_pins}} users</a></td>
          {{else}}
          <td>Nobody</td>
          {{/if}}
        </tr>
     </table>
     {{#if this.model.deleted}}
       <br/><p style='font-style: italic'>Deleted.</p>
     {{else}}
       {{#if this.model.should_display_purge_str}}
         <br/><p style='font-style: italic'>Will be deleted {{this.model.purge_str}}.</p>
       {{/if}}
     {{/if}}

     {{#if this.model.error_message}}
     <br/><p class="red-text text-darken-2">{{newlines-text this.model.error_message}}</p>
     {{/if}}
    </td>
    <td style="width: 90%; padding-left: 20px; vertical-align: top">
      {{#if this.model.files.length}}
        <table class="layout-table">
        {{#if this.display_pagination}}
        <tr><td>
          <ul class="pagination">
          {{#each this.pages as |page|}}
            {{#link-to "beam" this.model (query-params page=page) tagName="li" class="waves-effect"}}{{page}}{{/link-to}}
          {{/each}}
          </ul>
        </td></tr>
        {{/if}}
        <tr><td>
        <table class="highlight">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Modification Time</th>
                </tr>
            </thead>
            <tbody>
            {{#each sliced_files as |file|}}
                {{#if file.file_name}}
                <tr>
                    <td>
                        {{#if model.deleted}}{{file.file_name}}{{else}}<a class="collection-item file-link" target="_blank" href={{file.url}}>{{file.file_name}}</a>{{/if}}
                    </td>
                    <td>{{capacity-display file.size}}</td>
                    <td>{{format-date file.mtime}}</td>
                </tr>
                {{/if}}
            {{/each}}
            </tbody>
        </table>
        </td></tr>
        </table>
      {{else}}
        <p>No files were beamed yet.</p>
      {{/if}}
    </td>
  </tr>
</table>

{{/unless}}
