<div class="beam-comment">
  <a {{action "toggle_editing"}}><i class="fa fa-comment icon"></i></a>
  {{#unless editing_comment}}
    {{#if beam.comment}}
      <p class="comment">{{linkify beam.comment}}</p>
    {{else}}
      <p {{action "toggle_editing"}} class="empty-comment">Click to set a comment</p>
    {{/if}}
  {{else}}
    {{focus-input value=beam.comment action="toggle_editing"}}
  {{/unless}}
</div>

