<div class="beam-comment">
  {{fa-icon "comment" class="icon" click=(action "toggle")}}
  {{#unless editing}}
    {{#if beam.comment}}
      <p class="comment">{{linkify beam.comment}}</p>
    {{else}}
      <p {{action "toggle"}} class="empty-comment">Click to set a comment</p>
    {{/if}}
  {{else}}
    {{focus-input value=beam.comment action="toggle"}}
  {{/unless}}
</div>

