<div class="container">
  <div style="display: flex">
    <div style="flex-grow: 1">
      <p><b>Used Space:</b>&nbsp;{{capacity-display model.used_space}} ({{this.space_percent}}%)</p>
      <p><b>Free Space:</b>&nbsp;{{capacity-display model.free_space}}</p>
      <p><b>Total Space:</b>&nbsp;{{capacity-display model.total_space}}</p>
      <br/>
      <p><b>Number of Beams:</b>&nbsp;{{model.number_of_beams}}</p>
      {{#if model.oldest_beam}}
        <p><b>Oldest Beam:</b>&nbsp;{{#link-to "beams.beam" model.oldest_beam}}Beam #{{model.oldest_beam}}{{/link-to}}</p>
      {{/if}}
    </div>
  </div>
</div>
