<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-header">
        <img src="assets/img/scotty.png" class="navbar-brand-img scotty-button" {{action "scottyClicked"}} alt="refresh">
      </div>
    </div>
    <ul class="nav navbar-nav">
      <li>{{#link-to "new-beam"}}Beam Up{{/link-to}}</li>
      <li>{{#link-to "summary"}}Summary{{/link-to}}</li>
      <li>{{#link-to "api"}}API{{/link-to}}</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {{#if session.isAuthenticated}}
        <li>{{#link-to "beams" (query-params uid=me.id)}}{{me.name}}{{/link-to}}</li>
        <li><a href="#" {{action "logout"}}>Log Out</a></li>
      {{else}}
        <li><a href="#" {{action "login"}}>Log In</a></li>
      {{/if}}
    </ul>
  </div>
</nav>

{{outlet}}
