<div class="container-fluid">
  <div class="row">
    <div class="hidden-sm col-md-1"></div>
    <div class="col-sm-12 col-md-10">
      {{search-box onChange=(action "filterChange") textbox=filterValue}}
    </div>
    <div class="hidden-sm col-md-1" class="files-col">
      {{#if (gt total 0)}}
        {{total}} {{if (eq total 1) "file" "files"}}
      {{/if}}
    </div>
  </div>
</div>
{{#if sortedModel}}
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        {{sortable-header title='Name' sortProperty='fileName' sortBy=(action 'sortBy')}}
        {{sortable-header title='Size' sortProperty='size' sortBy=(action 'sortBy')}}
        {{sortable-header title='Modification Time' sortProperty='mtime' sortBy=(action 'sortBy')}}
      </tr>
    </thead>
    <tbody>
      {{#each sortedModel as |file|}}
        {{#if file.fileName}}
          <tr>
            <td>
              {{#if model.beam.deleted}}{{file.fileName}}{{else}}<a class="collection-item file-link" target="_blank" href={{file.url}}>{{file-name file.fileName}}</a>{{/if}}
            </td>
            <td>{{capacity-display file.size}}</td>
            <td>{{moment-format file.mtime "DD/MM/YY HH:mm:ss"}}</td>
          </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
  {{#if (gt pages 1)}}
    <div class="files-pages">
      <ul class="pagination">
        {{#each this.pagesList as |page|}}
          <li>{{#link-to "beams.beam" model (query-params fileFilter=fileFilter filePage=page)}}{{page}}{{/link-to}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
  {{else}}
  <h3 class="no-beams">No files were beamed up.</h3>
{{/if}}
