<div class="container-fluid">
  <div class="form-inline form-group">
    {{input value=tagName id='beam-filter' class="form-control" placeholder="Tag"}}
    <button {{action 'addToTagList' tagName}}>Filter</button>
    {{#if this.tagsCount}}
      <button {{action 'emptyTagList'}}>Clear</button>
    {{/if}}
  </div>
  <div class="form-inline form-group">
    {{#each tagList.tags as |tag|}}
      <button style="background-color:brown; color:azure;" {{action 'removeFromTagList' tag}}>{{tag}}</button>
    {{/each}}
  </div>
  <div class="beam-list">
    {{#if this.pagedContent}}
      {{beam-list beams=this.pagedContent selectedId=selectedId onSelection=(action "beamSelection")}}
    {{else}}
      <div class="item"><h3 class="no-beams">No beams to show.</h3></div>
    {{/if}}
  </div>
  <div class="outlet-layout">
    <div class="outlet-frame">
      {{outlet}}
    </div>
  </div>
</div>
