{{#unless iframe}}
<div class="navbar-fixed">
  <nav id="top-navbar" role="navigation">
    <div class="nav-wrapper container">
      <a {{action "scottyButton"}} style="cursor: pointer;"><img src="/static/assets/img/scotty.png" id="portrait"><div id="logo-container" class="brand-logo">Scotty</div></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {{#if session.isAuthenticated}}
          <li><a href="#" {{ action 'nothing' }}>{{me.name}}</a></li>
          <li><a href="#" {{ action 'invalidate_session' }}>Log Out</a></li>
        {{else}}
          <li><a href="#" {{action "login"}}>Log In</a></li>
        {{/if}}
        <li>{{#link-to "summary"}}Summary{{/link-to}}</li>
        <li>{{#link-to "pinned"}}Pinned{{/link-to}}</li>
        <li>{{#link-to "api"}}API{{/link-to}}</li>
        <li>{{#link-to "about"}}About{{/link-to}}</li>
      </ul>
    </div>
  </nav>

</div>
 <div id="appmodal" class="modal">
  <div class="modal-content">
    <p>{{modal_content}}</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
  </div>
</div>
{{/unless}}
{{outlet}}

<footer class="footer">
  <div class="container text-center">
    <p class="text-muted">
      <center>
        <br/>
        <a href="http://getweber.github.io/" target="_blank">
        <img src="http://getweber.github.io/img/hatched-from-weber-badge.svg" style="height: 2em">
        </a>
      </center>
    </p>
  </div>
</footer>
