{{#page-card}}
  {{beam-info beam=this}}

  {{#if model.error}}
  <br/>
  <p class="red-text text-darken-2">{{newlines-text model.error}}</p>
  {{/if}}

  {{#if model.files.length}}
    <h4>Files</h4>
    <div class="collection">
      {{#each file in model.files}}
        <a class="collection-item file-link" {{bind-attr href=file.link}}>{{file.file_name}}<span class="badge">{{capacity-display file.size}}</span></a>
      {{/each}}
    </div>
  {{else}}
    <br/><p>No files were beamed yet.</p>
  {{/if}}
{{/page-card}}
