{{#unless this.application.iframe}}
<br/>
<div class="beams-container {{unless this.application.iframe "container"}}">
  {{#each this.model as |beam|}}
    <div class="beam-container">
      <div class="beam-card">
        <div class="card-content">
         {{beam-info model=beam extended=false}}
        </div>
      </div>
    </div>
  {{/each}}
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
   {{#link-to "new-beam" class="btn-floating btn-large"}}
     <i class="large mdi-action-backup"></i>
   {{/link-to}}
</div>
{{else}}
<table>
  <thead>
    <tr>
      <th>Beam ID</th>
      <th>User</th>
      <th>Host</th>
      <th>Directory</th>
      <th>Started</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
  {{#each this.model as |beam|}}
    <tr>
      <td>{{#link-to "beam" beam (query-params back=true)}}{{beam.id}}{{/link-to}}</td>
      <td>{{beam.initiator.display_name}}</td>
      <td>{{beam.host}}</td>
      <td>{{beam.directory}}</td>
      <td><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="{{format-date beam.start}}">{{beam.relative_time}}</a></td>
      <td>{{capacity-display beam.size}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{/unless}}
