{{#page-card}}
  <div class="card-title grey-text">
    <div class="row">
      <div class="col s8">New Beam</div>
      <div class="col s4">
        <a id="beam-submit" {{action 'beam'}} class="waves-effect waves-light btn {{if submitting "disabled"}}"><i class="mdi-action-backup left"></i>beam it up, scotty</a>
      </div>
    </div>
  </div>
  <form class="col s12">
    <div class="row">
      <div class="col s12">
        {{#if submitting}}
        <div class="progress">
          <div class="indeterminate"></div>
        </div>
        {{/if}}
        <p id="error" class="error">{{error}}</p>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s3">
        <i class="mdi-social-person prefix"></i>
        {{input id="user" type="text" class="validate valid" value=user}}
        <label class="active" for="user">SSH user</label>
      </div>
      <div class="input-field col s3">
        <i class="mdi-hardware-desktop-windows prefix"></i>
        {{input id="host" type="text" class="validate" value=host}}
        <label class="active" for="icon_prefix">Host</label>
      </div>
      <div class="input-field col s6">
        <i class="mdi-file-folder-open prefix"></i>
        {{input id="directory" type="text" class="validate" value=directory}}
        <label class="active" for="directory">Directory</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="fa fa-tags prefix"></i>
        {{input id="tags" type="text" class="validate" value=tags}}
        <label class="active" for="tags">Tags (comma-separated)</label>
      </div>
    </div>
    <div class="row">
      <div class="col s3">
      <p>Authentication:</p>
        <div class="collection">
          <a href="#" {{action "method_rsa"}} class="collection-item {{if auth_rsa "active"}}">RSA Key</a>
          <a href="#" {{action "method_password"}} class="collection-item {{if auth_password "active"}}">Password</a>
        </div>
      </div>
      <div class="input-field col s9">
        {{#if auth_rsa}}
          <i class="mdi-communication-vpn-key prefix"></i>
          {{textarea id="ssh_key" class="materialize-textarea validate" value=ssh_key}}
          <label class="active" for="ssh_key">RSA key</label>
        {{/if}}
        {{#if auth_password}}
          <i class="mdi-communication-vpn-key prefix"></i>
          {{input id="password" type="password" class="validate" value=password}}
          <label class="active" for="password">Password</label>
        {{/if}}
      </div>
    </div>
  </form>
{{/page-card}}
