{{#page-card}}
  <div class="card-title grey-text">
    <div class="row">
      <div class="col s8">New Beam</div>
      <div class="col s4">
        <a id="beam-submit" onclick={{perform beam}} class="waves-effect waves-light btn {{if beam.isRunning "disabled"}}"><i class="material-icons left">backup</i>beam it up, scotty</a>
      </div>
    </div>
  </div>
  <form class="col s12">
    <div class="row">
      <div class="col s12">
        {{#if beam.isRunning}}
        <div class="progress">
          <div class="indeterminate"></div>
        </div>
        {{/if}}
        <p id="error" class="error">{{error}}</p>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s3">
        <i class="material-icons prefix">person</i>
        {{input id="user" type="text" class="validate valid" value=user}}
        <label class="active" for="user">SSH user</label>
      </div>
      <div class="input-field col s3">
        <i class="material-icons prefix">desktop_windows</i>
        {{input id="host" type="text" class="validate" value=host}}
        <label class="active" for="icon_prefix">Host</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">folder_open</i>
        {{input id="directory" type="text" class="validate" value=directory}}
        <label class="active" for="directory">Directory</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="fa fa-tags prefix"></i>
        {{input id="tags" type="text" class="validate" value=tags}}
        <label class="active" for="tags">Tags (comma-separated)</label>
      </div>
    </div>
    <div class="row">
      <div class="col s3">
      <p>Authentication:</p>
        <div class="collection">
          <a href="#" {{action "method_stored_key"}} class="collection-item {{if auth_stored_key "active"}}">Stored Key</a>
          <a href="#" {{action "method_rsa"}} class="collection-item {{if auth_rsa "active"}}">RSA Key</a>
          <a href="#" {{action "method_password"}} class="collection-item {{if auth_password "active"}}">Password</a>
        </div>
      </div>
      {{#if auth_rsa}}
        <div class="input-field col s9">
          <i class="mdi-communication-vpn-key prefix"></i>
          {{textarea id="ssh_key" class="materialize-textarea validate" value=ssh_key}}
          <label class="active" for="ssh_key">RSA key</label>
        </div>
      {{/if}}
      {{#if auth_password}}
        <div class="input-field col s9">
          <i class="mdi-communication-vpn-key prefix"></i>
          {{input id="password" type="password" class="validate" value=password}}
          <label class="active" for="password">Password</label>
        </div>
      {{/if}}
      {{#if auth_stored_key}}
        <div class="col s4">
          <p>Stored Key:</p>
          <div class="collection">
            {{#each model as |key|}}
              <a href="#" {{action "key_select" key}} class="collection-item {{if (eq key.id this.selected_key.id) "active"}}">{{key.description}}</a>
            {{/each}}
          </div>
        </div>
        {{/if}}
    </div>
  </form>
{{/page-card}}
