<div class="row">
  <div class="col-lg-6 col-lg-offset-3 col-md-12">
    {{#if model.beam.errorMessage}}
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{model.beam.errorMessage}}
      </div>
    {{else}}
      {{beam-deletion-alert deleted=model.beam.deleted purgeTime=model.beam.purgeTime}}
    {{/if}}
  </div>
</div>
<div class="row">
  <div class="col-lg-10 col-md-9">
    <div class="row">
      <div class="col-md-4">
        {{#beam-detail icon="fa-hashtag"}}{{model.beam.id}}{{/beam-detail}}
        {{#beam-detail icon="fa-user"}}{{model.beam.initiator.displayName}}{{/beam-detail}}
        {{#beam-detail icon="fa-desktop"}}{{model.beam.host}}{{/beam-detail}}
        {{#if model.beam.type}}
          {{#beam-detail icon="fa-info-circle"}}{{model.beam.type}}{{/beam-detail}}
        {{/if}}
      </div>
      <div class="col-md-8">
        {{#beam-detail icon="fa-clock-o"}}{{model.beam.relativeTime}}{{/beam-detail}}
        {{#beam-detail icon="fa-database"}}{{capacity-display model.beam.size}}{{/beam-detail}}
        {{#unless model.beam.deleted}}
          {{beam-pinner beam=(mut model.beam) store=store session=session onChange=(action "refresh")}}
        {{/unless}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {{#beam-detail icon="fa-folder"}}{{model.beam.directory}}{{/beam-detail}}
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-3" style="text-align: right;">
    {{beam-img class="small-beam-img" beam=model.beam}}
  </div>
</div>
{{beam-comment beam=model.beam}}
<div class="row" style="margin-bottom: 10px">
  <div class="col-xs-6">
    <h4 class="subtitle">Tags</h4>
    {{tag-list onchange=(action "tagChange") mutable=(not model.beam.deleted) tags=model.beam.tags beamId=model.beam.id}}
  </div>
  <div class="col-xs-6">
    <h4 class="subtitle">Issues</h4>
    {{issue-list mutable=(not model.beam.deleted) trackers=model.trackers onAssign=(perform assignIssue) issues=model.beam.associatedIssues onRemoval=(perform removeIssue)}}
  </div>
</div>
{{beam-files model=model page=(mut filePage) fileFilter=(mut fileFilter)}}
